.precios{
    text-align: right;
}
#factura{
    -webkit-box-shadow: 1px 5px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 5px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 5px 10px rgba(50, 50, 50, 0.75);
    background-color: lightgrey;
    margin-top: 15px;
    font-size: large;
    padding-top: 10px;
}
#condiciones{
    font-size: small;
}
#butacas{
    display: none;
}
option:disabled{
    color: red;
}

